# Build artifacts
build/
*.exe

# IDE
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Dependencies (если скачали в проект)
fltk/
FLTK/
lib/
include/

# Runtime
*.dll
*.pdb
*.ilk